ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
USE_GPS=true
USE_LIDAR=true
USE_WEB=true
USE_NAVIGATION=true
USE_HARDWARE=false
WEB_HOST=0.0.0.0
WEB_PORT=8080
H7_SERIAL_PORT=/dev/earendil_h7
H7_SERIAL_BAUD=115200
GPS_SERIAL_PORT=/dev/earendil_rtk
GPS_SERIAL_BAUD=9600
RSCP_SERIAL_PORT=/dev/earendil_rscp
ESTOP_GPIO_PIN=-1
